.setup1{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #00535e;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    padding: 14px;
    font-weight: 500;
}

.stage{
    display: flex;
    flex-direction: column;
}



.main_content_container{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background: #F6F6F6;
    overflow: auto;
    height: 450px;

}
.Complete{
    color: #00535e;
}

.for_row{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.fieldlabel{color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;}

    @media screen and (min-width:300px) and (max-width:1200px){
        .for_row {
            display: flex;
            gap: 5px;
            padding: 15px;
            flex-direction: column;
        }
        .searchbar {
            width: 100% !important;
        }
        .main_content_container {
            margin: 20px;
            padding: 10px;
            border-radius: 20px;
            background: #F6F6F6;
            height: 400px;
            overflow: auto;
        }

        .text-gray {
            color: #9B9999;
            font-family: Poppins;
            font-size: 8px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .nextbtnparent {
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    